In [17]:
# Define a list: []
a = [] # empty list
b = [1, 2, 3] # list of integers
c = [1, 'hello', 5.5, True, [2, 3]] # list of mixed data types

In [ ]:
print(c[2])
print(c[4])
print(c[-1])
print(c[-5])
print(c[5])  # IndexError: list index out of range

In [9]:
# List operators: +, *
# Concatenation
d = b + c
print(d)
# Multiplication
e = b * 3
print(e)

[1, 2, 3, 1, 'hello', 5.5, True, [2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
# List methods
b.append(4)
print(b)
b.insert(0, 100)
print(b)
b.remove(100)
print(b)

[1, 2, 3, 4]
[100, 1, 2, 3, 4]
[1, 2, 3, 4]

In [19]:
f = [1, 2, 1, 2, 1, 2]
f.remove(2)
print(f)

[1, 1, 2, 1, 2]

In [22]:
if 200 in f:
    f.remove(200)

del f[0]
print(f)

[1, 2, 1, 2]

In [23]:
f[-1] = 100
print(f)

[1, 2, 1, 100]

In [ ]:
# Popular collection problem: sum, sort, min, max, count, find
import random as rd
numbers = rd.sample(range(100), 10)
print(numbers)

In [ ]:
print(f'Sum = {sum(numbers)}')
print(f'Min = {min(numbers)}')
print(f'Max = {max(numbers)}')
print(f'Len = {len(numbers)}')
n = int(input('Enter n: '))
if n in numbers:
    print(f'Found {n}')
else:
    print('Not found!')

In [4]:
# Sort on a copied list
numbers_sorted = sorted(numbers)
print(numbers)
print(numbers_sorted)

[58, 70, 39, 72, 23, 61, 86, 36, 20, 31]
[20, 23, 31, 36, 39, 58, 61, 70, 72, 86]

In [5]:
numbers.sort()
print(numbers)

[20, 23, 31, 36, 39, 58, 61, 70, 72, 86]

In [9]:
products = ['pencil', 'erase', 'pen', 'notebook', 'book']
prices = [5, 3, 10, 20, 30]
numbers = [50, 60, 30, 20, 25]
n = len(products)
# Find the product with the highest price (max)
highest_price = prices[0]
i_max = 0
for i in range(n):
    if prices[i] > highest_price:
        highest_price = prices[i]
        i_max = i

print(f'{products[i_max]} has the highest price: {highest_price}')
# Find the product with the lowest sold numbers (min)
lowest_sold = numbers[0]
i_min = 0
for i in range(n):
    if numbers[i] < lowest_sold:
        lowest_sold = numbers[i]
        i_min = i
print(f'{products[i_min]} has the lowest sold numbers: {lowest_sold}')
# Find total sales of all products (sum)
total_sales = 0
for i in range(n):
    total_sales += prices[i] * numbers[i]
print(f'Total sale = {total_sales}')
# Enter a product name, print its price and sold numbers
product_name = input('Enter product name: ')
found = False
for i in range(n):
    if products[i] == product_name:
        print(f'{product_name} has price = {prices[i]} and sold numbers = {numbers[i]}')
        found = True
        break
if not found:
    print('Not found!')
# Count how many products that has sale above the average sale
average_sale = total_sales / n
print(f'Average sale = {average_sale}')
count = 0
for i in range(n):
    if prices[i] * numbers[i] > average_sale:
        count += 1
print(f'There are {count} products that have sale above the average sale')

book has the highest price: 30
notebook has the lowest sold numbers: 20
Total sale = 1880
pen has price = 10 and sold numbers = 30
Average sale = 376.0
There are 2 products that have sale above the average sale

In [14]:
# Syntax slicing: [start:stop:step]
numbers = rd.sample(range(100), 10)
print(numbers)
a = numbers[0:3:1]
print(a)

[97, 60, 78, 33, 13, 48, 32, 76, 0, 69]
[97, 60, 78]

In [20]:
b = numbers[6:]
print(b)
a = numbers[:3]
print(a)
c = numbers[2:7:2]
print(c)
d = numbers[1::3]
print(d)

[32, 76, 0, 69]
[97, 60, 78]
[78, 13, 32]
[60, 13, 76]

In [24]:
print(numbers)
b = numbers[-4:]
print(b)
e = numbers[::-2]
print(e)

[97, 60, 78, 33, 13, 48, 32, 76, 0, 69]
[32, 76, 0, 69]
[69, 76, 48, 33, 60]

In [31]:
names = ('John', 'Paul', 'Mike', 'Anna')
print(names)
print(names[0])
print(names[-1])
print(names[1:3])
print(names * 2)
# names.append('Bob') => AttributeError: 'tuple' object has no attribute 'append'
# print(names)
# names[0] = 'Bob'    => TypeError: 'tuple' object does not support item assignment
# print(names)

('John', 'Paul', 'Mike', 'Anna')
John
Anna
('Paul', 'Mike')
('John', 'Paul', 'Mike', 'Anna', 'John', 'Paul', 'Mike', 'Anna')

In [34]:
print(names)
names = names + ('Bob', )
print(names)

('John', 'Paul', 'Mike', 'Anna')
('John', 'Paul', 'Mike', 'Anna', 'Bob')

In [37]:
print(numbers)
a = numbers
b = numbers[::]
print(a)
print(b)
numbers[0] = -1000
print(numbers)
print(a)
print(b)

[97, 60, 78, 33, 13, 48, 32, 76, 0, 69]
[97, 60, 78, 33, 13, 48, 32, 76, 0, 69]
[97, 60, 78, 33, 13, 48, 32, 76, 0, 69]
[-1000, 60, 78, 33, 13, 48, 32, 76, 0, 69]
[-1000, 60, 78, 33, 13, 48, 32, 76, 0, 69]
[97, 60, 78, 33, 13, 48, 32, 76, 0, 69]

In [38]:
# Exercise 1
numbers = rd.sample(range(100), 20)
n = len(numbers) // 2
first = numbers[:n]
second = numbers[n:]
print(numbers, first, second, sep='\n')

[14, 34, 18, 82, 44, 30, 23, 79, 10, 87, 62, 80, 26, 73, 45, 8, 40, 2, 7, 13]
[14, 34, 18, 82, 44, 30, 23, 79, 10, 87]
[62, 80, 26, 73, 45, 8, 40, 2, 7, 13]

In [41]:
# Exercise 2
n = int(input('Enter n: '))
middle = numbers[n:-n]
print(middle)
rest = numbers[:n] + numbers[-n:]
print(rest)

[]
[14, 34, 18, 82, 44, 30, 23, 79, 10, 87, 62, 80, 26, 73, 45, 8, 40, 2, 7, 13, 14, 34, 18, 82, 44, 30, 23, 79, 10, 87, 62, 80, 26, 73, 45, 8, 40, 2, 7, 13]

In [ ]:
i = int(input('Enter i: '))
print(numbers[i])

In [ ]:
products = ['pencil', 'erase', 'pen', 'notebook', 'book']
prices = [5, 3, 10, 20, 30]
numbers = [50, 60, 30, 20, 25]

In [48]:
#max_price = max(prices)
#i_max = prices.index(max_price)
print(f'Most expensive product is {products[prices.index(max(prices))]}')

Most expensive product is book